    <!-- Carousel -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.ibb.co/crGnfGG/image.png" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/zG2RzYb/image.png" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/gvcDJR4/image.png" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>